<?xml version="1.0"?>
<launch>
    <arg name="map_path" value="/bags/itri/map.pcd" />
    <arg name="bag_path" value="/bags/itri/ITRI_Public.bag" />

    <node pkg="tf" type="static_transform_publisher" name="base_to_lidar_publisher" args="0.46 0 3.46 -0.0051505 0.018102 -0.019207 0.99964 base_link velodyne 100" />
    
    <node name="serial_icp_node" pkg="icp_localization" type="serial_icp" output="screen">
        <param name="bag_file" type="string" value="$(arg bag_path)" />
        <param name="map_file" type="string" value="$(arg map_path)" />
        <param name="max_iter" type="int" value="100" />
        <param name="max_distance" type="double" value="5" />
        <param name="transform_epsilon" type="double" value="1e-10" />
        <param name="fitness_epsilon" type="double" value="0.001" />
    </node>


</launch>