<?xml version="1.0"?>
<launch>

    <arg name="map_path" value="/bags/map.pcd" />
    <node pkg="pointcloud_util" type="read_file" name="read_file_node" output="screen">
        <param name="file" type="string" value="$(arg map_path)" />
    </node>
    <node pkg="pointcloud_util" type="downsampling" name="map_down" output="screen" />
</launch>